{% extends "las_util/layout.html" %}
{% load static %}

{% block body %}
<div>
  <h2>LAS-Util Detail Display</h2>
  <table class="doc-detail">
    <thead>
      <tr>
        <th>FILENAME</th>
        <th>SECTION</th>
        <th>NAME</th>
        <th>UNIT</th>
        <th>VALUE</th>
        <th>NOTE</th>
    </thead>
    <tbody class="display-data">
      {% for row in doc %}
      <tr>
        <td>{{ row.filename }}</td>
        <td>{{ row.section }}</td>
        <td>{{ row.name }}</td>
        <td>{{ row.unit }}</td>
        <td>{{ row.value }}</td>
        <td>{{ row.note }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}
