/* || Mobile first base rules */

:root {
  font-size: 0.7em;
}

body {
  font-family: sans-serif;
  margin: auto;
  margin: 0;
  padding: 0.4em;
  background-color: silver;
 }

a, h1, h2, h3 {
  color: #006b82;
}

h1, h2, h3, h4 {
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 1.2rem;
  padding: 0.8em;
}

hr {
  color: #eee; /* light gray */
}

/* ul and li padding and display control menu display */
ul {
  margin: auto;
  padding-left: 0em;
  background-color: #eee;
}

li {
  display: inline-block;
  padding: 0.3em 0.6em;
}

caption {
  padding: 0.5em 0.4em 0.4em 0.4em;
  border: 2px solid #ccc;
  border-bottom: 0px solid #ccc;
  font-size: 1.5rem; /* Fallback if vw is not available */
  font-size: 2.5vw;
  color: white;
  background-color: #377BA1;
}

/* || Mobile first layout rules */

header {
  margin-top: .25em;
  margin-bottom: .6em;
}

nav {
  text-align: center;
}

nav a {
  text-decoration: none;
}

footer {
  width: 100%;
  padding: 1em;
  text-align: center;
  font-size: 0.625rem;
  /* Pin footer to the bottom of the screen */
  position: fixed;
  bottom: 0;
  left: 0;
  color: #015466;
  background-color: silver;
}

/* || Mobile first table */
th {
  text-align: left;
  color: #eee;
  background-color: #006b82;
}

table {
  width: 100%;
  margin-bottom: 2.75rem;
}

table, thead, tbody, th, td, tr {
  font-size: .75rem;
  display: block;
}

thead tr {
	position: absolute;
	top: -9999px;
	left: -9999px;
}

tr { border: 1px solid; }

tr:nth-of-type(odd) {
  background-color: #eee;
}


td {
	border: none;
	position: relative;

  /* Push cell data to the left to
   * make room for 'header' in 'td:before'
   */
	margin-left: 5em;
}

td:before {
	position: absolute;
	left: 6px;
	white-space: nowrap;
  /* Pull this header back from td's 150px margin
   * so that this header is visible in at the left
   */
	margin-left: -5em;
}

td:nth-of-type(1):before { content: "FileName"; }
td:nth-of-type(2):before { content: "Section"; }
td:nth-of-type(3):before { content: "Name"; }
td:nth-of-type(4):before { content: "Unit"; }
td:nth-of-type(5):before { content: "Value";}
td:nth-of-type(6):before { content: "Note";}

/*
 * Handle empty cells
 * Reference: https://stackoverflow.com/q/2789372
 */
td:empty:after {
  content: '.';
  color: transparent;
  visibility: hidden;
}


/* || Mobile first classes */


.doc-list {
  height: calc(95vh - 140px);
  overflow-y: auto;
  border: 2px solid #ccc;
  background-color: #eee;
}

.doc-detail {
  font-size: 0.2rem; /* Fallback if vw is not available */
}

.display-data {
  height: calc(95vh - 140px);
  overflow-y: auto;
}

.error {
  padding: 0.5em;
  background-color: #F0D6D6;
}

.uploadform {
  margin: auto;
  padding: 2em;
  padding-top: 1.5em;
  border: 1px solid #eee;
  text-align: center;
}

.message {
  min-height: 12.5px;
  padding: .1em;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
}

.message:after {
  content: '\200b'; /* zero width space character */
}

/* || Mobile first Theme(color) rules */

.display-data tr {
  background-color: #ccc;
}

/* table striping */
.display-data tr:nth-of-type(odd) {
  background-color: #ddd;
}


/* || Media rules for larger device settings */


@media (min-width: 600px) {
  :root {
    font-size: 0.875rem;
  }
  .doc-detail {
    font-size: 1rem;
  }

  table, thead, tbody, th, td, tr {
    display: revert;
  }

  thead tr {
    position: revert;
  }
  td:nth-of-type(1):before { content: ""; }
  td:nth-of-type(2):before { content: ""; }
  td:nth-of-type(3):before { content: ""; }
  td:nth-of-type(4):before { content: ""; }
  td:nth-of-type(5):before { content: ""; }
  td:nth-of-type(6):before { content: ""; }

}

@media (orientation: landscape) {
  .doc-list {
    height: calc(100vh - 14em);
  }
  .doc-detail {
    font-size: 0.2rem;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 1em;
  }
}

@media (min-width: 1400px) {
  :root {
    font-size: 1.5em;
  }
}


@media (min-height: 1100px) {
  .doc-list {
    height: calc(95vh - 245px);
  }
}


