:root {
  font-size: 0.75em;
}

@media (min-width: 800px) {
  :root {
    font-size: 0.875em;
  }
}

@media (min-width: 1200px) {
  :root {
    font-size: 1em;
  }
}

@media (min-width: 1400px) {
  :root {
    font-size: 1.5em;
  }
}

body {
  font-family: sans-serif;
  background: #eee;
}

header {
  margin-top: .25em;
  margin-bottom: .6em;
}

nav a {
  text-decoration: none;
}

a, h1, h2, h3 {
  /* color: #377BA8; */
  color: #2e6a91; /* a darkish blue */
}

h1, h2, h3, h4 {
  margin: 0;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  padding: 0.8em;
}

hr {
  color: #eee; /* light gray */
}

footer {
  width: 100%;
  padding: 1em;
  text-align: center;
  font-size: 0.625em;
  background-color: #eee;
  /* Pin footer to the bottom of the screen */
  position: fixed;
  bottom: 0;
}

nav {
  margin-top: 0;
  margin-bottom: 0;
  border-bottom: 0.1em solid #eee;
}

table {
  width: 100%;
  padding: 1em;
}

th {
  color: #eee;
  background-color: #377BA8;
  text-align: left;
}


/* ul and li padding and display control menu display */
ul {
  margin: auto;
  padding-left: 0em;
  background-color: #eee;
}

li {
  display: inline-block;
  padding: 0.3em 0.6em;
}

caption {
  padding: 0.5em 0.4em 0.4em 0.4em;
  border: 2px solid #ccc;
  border-bottom: 0px solid #ccc;
  color: white;
  background-color: #377BA1;
  font-size: 1.5em; /* Fallback if vw is not available */
  font-size: 2.5vw;
}

.page {
  margin: auto;
  /* firefox doesn't like this stmt, maybe not needed */
  /* width: 30vm; */
  padding: 0.4em;
  border: 5px solid #ccc;
  background: white;
  display: block;
 }

.display-data tr {
  background-color: #ccc;
}

/* table striping */
.display-data tr:nth-of-type(odd) {
  background: #ddd;
}

.doc-list {
  border: 2px solid #ccc;
  height: calc(95vh - 140px);
  overflow-y: auto;
  # border: 2px solid #ccc;
  background-color: #eee;
}

/* Configure the table withing .doc-list to be a proportion of the doc-list
 * size */
.doc-list table {
  height: 60%;
}

@media (orientation: landscape) {
  .doc-list {
    height: calc(95vh - 175px);
  }

@media (min-height: 1100px) {
  .doc-list {
    height: calc(95vh - 245px);
  }
}

.doc-detail {
  font-size: 0.3em; /* Fallback if vw is not available */
  font-size: 2vw;
}

@media (min-width: 570px) {
  .doc-detail {
    font-size: 0.65em;
  }
}

@media (min-width: 800px) {
  .doc-detail {
    font-size: .7em;
  }
}

/* Maybe not used 2020-10-04
.form {
  margin: 2.5em;
  padding: 2.5em;
  border: 1px solid #ccc;
}
*/ 

.error {
  background: #F0D6D6;
  padding: 0.5em;
}

.uploadform {
  margin: auto;
  padding: 2em;
  padding-top: 1.5em;
  border: 1px solid #eee;
  text-align: center;
}

.message {
  min-height: 12.5px;
  padding: .1em;
  text-align: center;
  background-color: #eee;
  border: 1px solid #ccc;
}

.message:after {
  content: '\200b'; /* zero width space character */
}
